<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="branch-name">Attendence Dashboard</label>
      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">Add remark</a></li>
        <li><a href="/">Logout</a></li>
        
      </ul>
    </nav>
    <div class="card">
        <img class="image" src="campus.webp" alt="John" style="width:100%">
        <h1 class="name"><%=name%></h1>
        <p class="enrollment"><%=enroll%></p>
        <p class="sem">2nd year Autumn semester</p>
        <p class="branch"><%=branch%></p>
       
        
      </div>
      <div class="subjects">
        <h1 class="s">SUBJECTS</h1>
        <div class="subject-details 1">
            <div class="subject-name">ECN-242</div>
            <div class="date"><%=date%></div>
            <div class="teacher">Pramarik Tanmoy</div>
            <div class="view-details"><Button>View Attendance</Button></div>
            <div class="add-attendence"><button class="attendence">Mark Attendence</button></div>
        </div>
        <div class="subject-details 2">
            <div class="subject-name">ECN-291</div>
            <div class="date"><%=date%></div>
            <div class="teacher">Dimple singh</div>
            <div class="view-details"><Button>View Attendance</Button></div>
            <div class="add-attendence"><button class="attendence">Mark Attendence</button></div>
        </div>
        <div class="subject-details 3">
            <div class="subject-name">ECN-203</div>
            <div class="date"><%=date%></div>
            <div class="teacher">Sparsh Mittal</div>
            <div class="view-details"><Button>View Attendance</Button></div>
            <div class="add-attendence"><button class="attendence">Mark Attendence</button></div>
        </div>
        <div class="subject-details 4">
            <div class="subject-name">ECN-207</div>
            <div class="date"><%=date%></div>
            <div class="teacher">saurabh KHANNA</div>
            <div class="view-details"><Button>View Attendance</Button></div>
            <div class="add-attendence"><button class="attendence">Mark Attendence</button></div>
        </div>
      </div>
      <script>
        const triggerButton = document.getElementsByClassName('attendence');
        const view = document.getElementsByClassName('view-details');

        for(let i = 0; i < view.length ; i++){
          
          view[i].addEventListener('click' ,async () => {
             const url = "/attendance" + i;
              window.location.href = url;
         })
         }

        for(let i = 0; i < triggerButton.length ; i++){
          
          triggerButton[i].addEventListener('click' ,async () => {
            const url = "/" + i;
             window.location.href = url;
        })
        }

      

        

  
      </script>
  </body>
</html>